.join-us{
    display: flex;
    padding: 0rem 2rem;
    gap: 1rem;
}
.left-j{
    display: flex;
    flex: 1;
    flex-direction: column;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}
.left-j>hr{
    width: 10rem;
    border: 2px solid var(--orange);
    border-radius: 40%;
    position: absolute;
    margin-top: -10px;
}

.right-j{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
}
.email-container{
    display: flex;
    padding: 1rem 3rem;
    background-color: gray;
}
::placeholder{
    color: var(--lightGray);
}
.email-container>input{
    
    border: none;
    outline: none;
    background-color: transparent;
}